*{
  padding: 0;
  margin: 00;
}
a:hover{
  text-decoration: none;
}
ul,ol{
  list-style-type: none;
}

// login样式
.login_bg{
  background: #222D32;
  .login-title{
    margin-top: 150px;
  }
}

// 首页样式
.aside{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 180px;
  background: #222D32;
}