.lt_content {
  widows: 100%;
  height: 100%;
  background: #fff;
  position: relative;
}
.lt_cart {
  height: 55px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  z-index: 1999;
}
.pd_10 {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.price span:first-child {
  color: red;
}
.price span:last-child {
  color: #666;
  text-decoration: line-through;
  font-size: 12px;
}
.size span {
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 12px;
  line-height: 30px;
}
.size span.now {
  background-color: orange;
  color: #fff;
}
