.lt_content {
  width: 100%;
  height: 100%;
  background: #fff;
}
.lt_content .search {
  padding: 10px;
  position: relative;
  margin-top: 45px;
}
.lt_content .search input {
  height: 33px;
  font-size: 12px;
  border: 1px solid #007AFF;
  border-radius: 5px;
}
.lt_content .search button {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 0 5px 5px 0;
}
.lt_content .sort ul {
  display: flex;
  padding: 0 10px;
}
.lt_content .sort ul li {
  flex: 1;
  text-align: center;
  font-size: 14px;
}
.lt_content .sort ul li.now {
  color: orange;
}
.lt_content .lt_product {
  padding: 10px;
  overflow: hidden;
  margin-bottom: 55px;
}
.lt_content .lt_product .product {
  display: block;
  width: 48%;
  text-align: center;
  border: 1px solid #ccc;
  float: left;
  margin-bottom: 15px;
}
.lt_content .lt_product .product:nth-child(2n+1) {
  margin-right: 15px;
}
.lt_content .lt_product .product p {
  text-align: left;
  padding: 10px;
}
.lt_content .lt_product .product .price span:first-child {
  color: red;
}
.lt_content .lt_product .product .price span:last-child {
  color: #666;
  text-decoration: line-through;
}
.lt_content .lt_product .product button {
  margin-bottom: 5px;
}
.loading {
  width: 50px;
  height: 50px;
  border: 5px solid #007AFF;
  border-bottom: 0;
  border-right: 0;
  border-radius: 50%;
  margin: auto;
  margin-top: 100px;
  animation: zhuan 1s infinite;
}
@keyframes zhuan {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
